<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nombres: <%= fullName %></p>
    <p>Apellidos: <%= full_surname %></p>
    <p>Seccion: <%= section %></p>
    <p>Cedula: <%= id %></p>
  </body>
</html>
